/* Filter sidebar scrollbar */
.filter-scroll::-webkit-scrollbar { width: 4px; }
.filter-scroll::-webkit-scrollbar-thumb { background: #1A998D; border-radius: 10px; }
.filter-scroll::-webkit-scrollbar-track { background: transparent; }
